body{
    /* background: -webkit-repeating-radial-gradient(top left, circle, red, blue 10%, red 20%);
    background-repeat: repeat-y; */

    /* background-image: linear-gradient(360deg, red, yellow); */

    background-image: -webkit-radial-gradient(circle, white, black);
   overflow: hidden;
}


h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    letter-spacing: 1px;
    margin-left: 80px;
}
   



.links{
    margin-left: 280px;
    margin-top: 50px;
}


a{
    color: rgb(30, 6, 6);
    margin: 0px 80px;
   
}

a img{
    margin-top: 50px;
}



